.custom-checkbox {
  width: 25px;
  height: 25px;
}

#custom-checkbox-id {
  @media screen and (max-width: 978px) {
    width: 22px;
    height: 22px;
  }
}

#custom-checkbox-id:hover {
  cursor: pointer;
}

input[name="video"] {
	accent-color: black;
}