.home-category-card {
  max-width: 317px;
  min-width: 270px;
  height: 296px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.home-category-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0E0E11;
}
