.benefit-card-container {
  background: #F9FAFB;
  border: 1px solid #F4F5FB;
  border-radius: 5px;
}

.benefit-card-header {
  background: #ECEBEE;
  border-radius: 5px 5px 0px 0px;
  padding: 24px 22px;
}

.benefit-card-content {
  padding: 15px 25px;
  background: #F9FAFB;
}


