.create-container {
  background: #F4F5FB;
}

.create-top-section {
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

.create-middle-background {
  background: #F4F5FB;
}

.create-work-flow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-wrap: wrap;
  @media screen and (max-width: 840px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: 978px) {
    justify-content: center;
  }
}

.create-middle-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 40px;

  @media screen and (max-width: 978px) {
    padding-top: 110px;
    padding-bottom: 20px;
  }
}

.create-middle-section {
  background: #ffffff;
  border-radius: 20px;
  padding: 45px;

  @media screen and (max-width: 978px) {
    padding: 10px;
  }
}

.create-red-dot {
  background: #EF1D1D;
  width: 70px;
  height: 70px;
  min-width: 70px;
  border-radius: 70px;

  @media screen and (max-width: 978px) {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
}

.create-middle-one-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.avatar-container {
  position: relative;
  margin-top: -53px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.create-avater {
  width: 140px;
  height: 140px;
  border: 4px solid #ffffff;
  border-radius: 70px;
  font-family: Poppins;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;

  @media screen and (max-width: 978px) {
    width: 100px;
    height: 100px;
    font-size: 12px;
  }
}

.avatar-image {
  object-fit: cover;
  object-position: center;
  border: 4px solid #ffffff;
  border-radius: 70px;

  @media screen and (max-width: 978px) {
    width: 100px;
    height: 100px;
    font-size: 12px;
  }
}