.global-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.global-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.global-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// font 12 500 - 700
.poppins-12-400 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}

.poppins-12-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
}

.poppins-12-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}

.poppins-12-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}

// font 14 500 - 700
.poppins-14-400 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.poppins-14-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.poppins-14-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.poppins-14-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

// font 16 500 - 700
.poppins-16-400 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.poppins-16-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.poppins-16-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.poppins-16-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}

// font 20 500 - 700
.poppins-20-400 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.poppins-20-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;

  @media screen and (max-width: 978px) {
    font-size: 16px;
  }
}

.poppins-20-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.poppins-20-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

// font 24 500 - 700
.poppins-24-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.poppins-24-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.poppins-24-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

// font 32 500 - 700
.poppins-32-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}

.poppins-32-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}

.poppins-32-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}

// font 36 500 - 700
.poppins-36-500 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}

.poppins-36-600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.poppins-36-700 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}



