.global-flex-centner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.global-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.global-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

