.tabRoot {
  width: 100%;
  // border-bottom: 1px solid #5c5c5c;
  list-style: none;
  padding: 0;
  & > li {
    color: #5c5c5c;
    display: inline-block;
    font-weight: bold;
    padding: 12px 18px;
    cursor: pointer;
  }

  & > li.active {
    color: #000000;
    // margin-bottom: -2px;
    // border-bottom: 4px solid #000000;
  }
}
